header {
    display: flex;
    background-color: $primaryColor;
    color: $secondaryColor;
    justify-content: center;
    margin: 15px 0px;
    padding: 10px;
    font-size: 50px;
    font-weight: 200;
  }